// Normalize Styles
@import 'node_modules/normalize.css/normalize';

// Import Modules
// @import '../_modules/link/link';

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

// Remove dotted lines on the right and left of Forum title
// Overwriting original CSS
.forums__header{
    &:before,&:after{
        display: none;
    }
}

// New CSS
.grid{
    overflow: hidden;
    margin: 40px 8px 0;
    &__item{
        float: left;
        position: relative;
        width: calc(33.33% - 20px);
        padding-bottom: calc(33.33% - 20px);
        margin: 10px;
        background-color: #fff;
        overflow: hidden;

        &--large{
            width: calc(66.66% - 20px);
        }
    }
    &__link{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        img{
            width: 100%;
            max-width: 100%;
        }
    }
}

.instagram{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 12px;

    &__icon{
        position: absolute;
        top: 20px;
        left: 15px;
        z-index: 1;
    }

    &__img{
        position: absolute;
        overflow: hidden;
        border-radius: 10px;
        top: 12px;
        left: 12px;
        right: 12px;
        bottom: 12px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__bottom{
        position: absolute;
        background-color: #1F8E95;
        bottom: 12px;
        left: 12px;
        right: 12px;
        border-radius: 0 0 10px 10px;
        padding: 10px 15px 20px 70px;
    }

    &__text{
        margin: 0;
        color: #fff;
        height: 3.75em;
        font-weight: 600;
        font-size: 1.5em;
        overflow: hidden;
        line-height: 1.25;
        letter-spacing: 0.015em;
    }

    &__smile{
        position: absolute;
        top: 10px;
        left: 15px;
    }
}

.cta{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;

    &__img{
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__bottom{
        background-color: white;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 15px 34px 50px;

        &:before{
            content: '';
            display: block;
            position: absolute;
            bottom: 100%;
            left: 0;
            right: 0;
            height: 50px;
            background-image: url(../images/paper.png);
            background-repeat: no-repeat;
        }

        .btn__sky-blue{
            position: absolute;
            right: 15px;
            bottom: 15px;
            font-size: 24px;
            font-weight: 600;
            padding: 12px 34px;
        }
    }

    &__title{
        font-size: 1.85em;
    }

    &__text{
        font-size: 1.35em;
        font-weight: 600;
        line-height: 1.5;
        margin-bottom: 48px;
    }

    &__places{
        position: absolute;
        left: 42px;
        bottom: 28px;
        font-weight: 600;
        color: #6c9b45;
        font-size: 23px;
    }
}

.promotion{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;

    &__img{
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__bottom{
        background-color: white;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 45px 80px 50px;

        &:before{
            content: '';
            display: block;
            position: absolute;
            bottom: 100%;
            left: 0;
            right: 0;
            height: 50px;
            background-image: url(../images/paper.png);
            background-repeat: no-repeat;
        }

        .btn__sky-blue{
            font-size: 24px;
            font-weight: 600;
            padding: 12px 60px;
        }
    }

    &__title{
        font-size: 1.85em;
    }

    &__text{
        font-size: 1.35em;
        font-weight: 600;
        line-height: 1.5;
        margin-bottom: 32px;
    }
}
