// Normalize Styles
@import 'node_modules/normalize.css/normalize';

// Import Modules
// @import '../_modules/link/link';

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

// Remove dotted lines on the right and left of Forum title
// Overwriting original CSS
.forums__header{
    &:before,&:after{
        display: none;
    }
}

// New CSS
.grid{
    overflow: hidden;
    margin: 40px 8px 0;
    &__item{
        float: left;
        position: relative;
        width: calc(33.33% - 16px);
        padding-bottom: calc(33.33% - 16px);
        margin: 8px;
        background-color: #fff;
        overflow: hidden;

        &--large{
            width: calc(66.66% - 16px);
        }
    }
}

.instagram{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;

    &__icon{
        position: absolute;
        top: 15px;
        left: 15px;
        z-index: 1;
    }

    &__img{
        position: absolute;
        overflow: hidden;
        border-radius: 10px;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__bottom{
        position: absolute;
        background-color: #1F8E95;
        bottom: 10px;
        left: 10px;
        right: 10px;
        border-radius: 0 0 10px 10px;
        padding: 10px 5px 20px 70px;
    }

    &__text{
        margin: 0;
        color: #fff;
        height: 4.8em;
        font-weight: 600;
        font-size: 1.5em;
        overflow: hidden;
        line-height: 1.25;
    }

    &__smile{
        position: absolute;
        top: 10px;
        left: 15px;
    }
}

.cta{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;

    &--green{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6d8821+0,586e1b+100 */
        background: rgb(109,136,33); /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover,  rgba(109,136,33,1) 0%, rgba(88,110,27,1) 100%); /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(109,136,33,1) 0%,rgba(88,110,27,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center,  rgba(109,136,33,1) 0%,rgba(88,110,27,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d8821', endColorstr='#586e1b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

    &--caramel{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#987b2d+0,7f6624+100 */
        background: #987b2d; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover, #987b2d 0%, #7f6624 100%); /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover, #987b2d 0%,#7f6624 100%); /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center, #987b2d 0%,#7f6624 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#987b2d', endColorstr='#7f6624',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

    &--grey{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#595e62+0,4a4f53+100 */
        background: #595e62; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover, #595e62 0%, #4a4f53 100%); /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover, #595e62 0%,#4a4f53 100%); /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center, #595e62 0%,#4a4f53 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#595e62', endColorstr='#4a4f53',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

    &--red{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#783139+0,64272e+100 */
        background: #783139; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover, #783139 0%, #64272e 100%); /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover, #783139 0%,#64272e 100%); /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center, #783139 0%,#64272e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#783139', endColorstr='#64272e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

    &--brown{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b251a+0,321e17+100 */
        background: #3b251a; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover, #3b251a 0%, #321e17 100%); /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover, #3b251a 0%,#321e17 100%); /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center, #3b251a 0%,#321e17 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b251a', endColorstr='#321e17',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
}

.promotion{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
}
