extends _layouts/base

include _modules/link/link

block content
    div.site__container
        section.site__page
            main.site__main(role="main")
                section.articles
                    article.article
                        figure.article__featured
                            img.article__image(src='http://www.mysmartgarden.org.au/assets/images/content/vegetable-patch.jpg' alt='')
                        section.article__content
                            span.article__category
                                img.img__category(src='http://www.mysmartgarden.org.au/assets/images/brand/meet-our-growers.png', alt='')
                            h2.article__title(itemprop='name') Meet the Drought Busters!
                            p
                            a.btn__sky-blue(href='#') Read more
                section.forums
                    h2.forums__header
                        span Hello Smart Gardener
                    article.forum__post(itemscope='', itemtype='http://schema.org/Article')
                        h3.forum__title(itemprop='name')
                            a.forum__link(href='/forum/?targetframe=/yaf/default.aspx?g=posts&t=71', rel='bookmark')
                                | Welcome to My Smart Garden
                        p(itemprop='description')
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin lobortis dui ut finibus. Mauris a metus vitae est cursus accumsan sed a sapien. Aliquam pharetra ullamcorper tincidunt. Nullam vel risus in magna efficitur volutpat in ac eros. Duis at egestas libero, vitae pulvinar leo. Nulla in dui ultrices, varius dui ac, porttitor odio. Integer finibus ante at mauris molestie fringilla. Fusce vitae justo vel neque cursus lacinia. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer tincidunt mi ac enim feugiat, pulvinar efficitur arcu consequat.
                section.grid
                    div.grid__item
                        div.cta
                            div.cta__img(style="background-image:url(https://placeimg.com/409/500/nature)")
                            div.cta__bottom
                                h2.cta__title Event title
                                p.cta__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                                span.cta__places 60 places left
                                a.btn__sky-blue(href="#") Sign up
                    div.grid__item
                        div.cta
                            div.cta__img(style="background-image:url(https://placeimg.com/408/500/nature)")
                            div.cta__bottom
                                h2.cta__title Event title
                                p.cta__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                                span.cta__places 60 places left
                                a.btn__sky-blue(href="#") Sign up
                    div.grid__item
                        div.cta
                            div.cta__img(style="background-image:url(https://placeimg.com/407/500/nature)")
                            div.cta__bottom
                                h2.cta__title Event title
                                p.cta__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                                span.cta__places 60 places left
                                a.btn__sky-blue(href="#") Sign up
                section.grid
                    div.grid__item
                        a.instagram(href="#")
                            img.instagram__icon(src="./images/icon-instagram.png")
                            div.instagram__img(style="background-image:url(https://placeimg.com/500/500/nature)")
                            div.instagram__bottom
                                img.instagram__smile(src="./images/icon-smile.png")
                                p.instagram__text @uberjoi Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, ...
                    div.grid__item
                        a.instagram(href="#")
                            img.instagram__icon(src="./images/icon-instagram.png")
                            div.instagram__img(style="background-image:url(https://placeimg.com/501/500/nature)")
                            div.instagram__bottom
                                img.instagram__smile(src="./images/icon-smile.png")
                                p.instagram__text @uberjoi Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, ...
                    div.grid__item
                        a.grid__link(href="#")
                            img(src="./images/cta1.jpg")
                    div.grid__item
                        a.grid__link(href="#")
                            img(src="./images/cta2.jpg")
                    div.grid__item
                        a.instagram(href="#")
                            img.instagram__icon(src="./images/icon-instagram.png")
                            div.instagram__img(style="background-image:url(https://placeimg.com/502/500/nature)")
                            div.instagram__bottom
                                img.instagram__smile(src="./images/icon-smile.png")
                                p.instagram__text @uberjoi Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, ...
                    div.grid__item
                        a.instagram(href="#")
                            img.instagram__icon(src="./images/icon-instagram.png")
                            div.instagram__img(style="background-image:url(https://placeimg.com/503/500/nature)")
                            div.instagram__bottom
                                img.instagram__smile(src="./images/icon-smile.png")
                                p.instagram__text @uberjoi Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, ...
                    div.grid__item
                        a.instagram(href="#")
                            img.instagram__icon(src="./images/icon-instagram.png")
                            div.instagram__img(style="background-image:url(https://placeimg.com/510/500/nature)")
                            div.instagram__bottom
                                img.instagram__smile(src="./images/icon-smile.png")
                                p.instagram__text @uberjoi Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, ...
                    div.grid__item.grid__item--large
                        div.promotion
                            div.promotion__img(style="background-image:url(https://placeimg.com/1000/500/nature)")
                            div.promotion__bottom
                                h2.promotion__title Promotion title goes here
                                p.promotion__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a dignissim sem. Phasellus nec rhoncus tortor. Duis tempus posuere lorem sed volutpat. Morbi et leo augue. Donec volutpat est libero, consectetur.
                                a.btn__sky-blue(href="#") Learn more
                    div.grid__item
                        a.grid__link(href="#")
                            img(src="./images/cta3.jpg")
                    div.grid__item
                        a.instagram(href="#")
                            img.instagram__icon(src="./images/icon-instagram.png")
                            div.instagram__img(style="background-image:url(https://placeimg.com/504/500/nature)")
                            div.instagram__bottom
                                img.instagram__smile(src="./images/icon-smile.png")
                                p.instagram__text @uberjoi Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, ...
                    div.grid__item
                        a.grid__link(href="#")
                            img(src="./images/cta4.jpg")
                    div.grid__item
                        a.instagram(href="#")
                            img.instagram__icon(src="./images/icon-instagram.png")
                            div.instagram__img(style="background-image:url(https://placeimg.com/505/500/nature)")
                            div.instagram__bottom
                                img.instagram__smile(src="./images/icon-smile.png")
                                p.instagram__text @uberjoi Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, ...
                    div.grid__item
                        a.instagram(href="#")
                            img.instagram__icon(src="./images/icon-instagram.png")
                            div.instagram__img(style="background-image:url(https://placeimg.com/506/500/nature)")
                            div.instagram__bottom
                                img.instagram__smile(src="./images/icon-smile.png")
                                p.instagram__text @uberjoi Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, ...
                    div.grid__item
                        a.instagram(href="#")
                            img.instagram__icon(src="./images/icon-instagram.png")
                            div.instagram__img(style="background-image:url(https://placeimg.com/507/500/nature)")
                            div.instagram__bottom
                                img.instagram__smile(src="./images/icon-smile.png")
                                p.instagram__text @uberjoi Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, ...
                    div.grid__item.grid__item--large
                        div.promotion
                            div.promotion__img(style="background-image:url(https://placeimg.com/1001/500/nature)")
                            div.promotion__bottom
                                h2.promotion__title Planets align, Costa and Vasili talk shop
                                p.promotion__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a dignissim sem. Phasellus nec rhoncus tortor. Duis tempus posuere lorem sed volutpat. Morbi et leo augue. Donec volutpat est libero, consectetur.
                                a.btn__sky-blue(href="#") Learn more
                    div.grid__item
                        a.grid__link(href="#")
                            img(src="./images/cta5.jpg")
